.p-post__sidebar-content {

    border-top: 1px solid $grey-light;

    @include mq($from: bp-m) {
        border-top-width: 0;
    }
}

.p-post {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: triple($base-spacing-unit);
        margin-bottom: double($base-spacing-unit);
    }

    h2 {
        @include typography('paragon');
    }

    h3, h4 {
        @include typography('double-pica');
    }

    h5, h6 {
        @include typography('great-primer');
    }

    img {
        margin-left: auto;
        margin-right: auto;
        margin-top: triple($base-spacing-unit);
        margin-bottom: triple($base-spacing-unit);
    }

    ul, ol {
        padding-left: double(double($base-spacing-unit));
        margin-bottom: double($base-spacing-unit);
    }
}

.p-post__body {
    a {
        text-decoration: underline;
    }
}
