/*------------------------------------*\
	$COLOURS
\*------------------------------------*/

// http://www.colourlovers.com/web/trends/websites/7813/Visual_Editions
$brand-orange: #EE403D;
$brand-dark-blue: #91D6D5;
$brand-light-blue: #B3E2E3;
$brand-pink: #F9A5A1;