.o-btn {
    text-transform: uppercase;
    color: $text-color;
    border-radius: double($base-spacing-unit);
}

.o-btn--small {
    padding: $base-spacing-unit double($base-spacing-unit);
}

.o-btn--large {
    padding: double($base-spacing-unit);
}

.o-btn--block {
    display: block;
}

.o-btn--light-gray {
    border: 1px solid rgb(234, 234, 234);
}

.o-btn--light-blue {

    border: 1px solid $brand-light-blue;

    &:hover {
        border: 1px solid $brand-dark-blue;
    }
}

.o-btn__icon--twitter {
    color: #1da1f2;
}

.o-btn__icon svg {
    fill: currentColor;
}
